<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="assets/header :: header">
        <titel>sql2regex</titel>
    </head>
    <body class="bg-dark">
        <button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
        <nav lang="en" th:replace="assets/navbar :: navbar"></nav>
        <div lang="en" th:replace="assets/userwarning :: userwarning"></div>

        <div class="container mt-3">
            <div class="card">
                About us page
            </div>
        </div>
    </body>
    <footer lang="en" th:replace="assets/footer :: footer"></footer>
    <scriptcollection lang="en" th:replace="assets/jsscripts :: jsscripts">> </scriptcollection>
</html>