<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/site.css}" rel="stylesheet" />
</head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img th:src="@{/img/sql2regex.svg}" width="80" role="img" alt="sql2regex"/>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-4 text-white">converter</a></li>
                        <li><a href="#" class="nav-link px-4 text-white">examples</a></li>
                        <li><a href="#" class="nav-link px-4 text-white">use cases</a></li>
                        <li><a href="#" class="nav-link px-4 text-white">about us</a></li>
                        <li><a href="#" class="nav-link px-4 text-white">privacy policy</a></li>
                        <li><a href="#" class="nav-link px-4 text-white">contribution</a></li>
                    </ul>

                    <div class="text-end">
                        <button type="button" class="btn btn-warning" onclick="javascript:location.href='https://github.com/binkertpat/sql2regex'">sourcecode</button>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>